---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const users = await getCollection("users");

---

<Layout title="home">
	{
		users.map((user) => (
			<a href={`/${user.id}`}>
				<h2>{user.data.name}</h2>
			</a>
		))
	}
</Layout>
