<a class="go-back" href="/">
    <button>Back</button>
</a>
<style>
    .go-back {
        position: absolute;
        top: 20px;
        left: 20px;
        & button {
            padding: 10px 20px;
            background-color: var(--secondary);
            font-size: 1.2rem;
            border-radius: 1rem;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            fint-weight: bold;  
        }
        & button:hover {
            background-color: var(--secondary-dark);
            transition: color 0.3s ease;
        }
    }
</style>