---
    interface Props {
        url: string;
        name: string
    }
    const { url, name } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer">
    {name}
</a>

<style>
    a {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 20px 80px;
        border: 1px solid var(--secondary);
        position: relative;
        text-decoration: none;
        color: var(--primary);
        border-radius: 20px;
        
        &:hover {
            background-color: var(--secondary-dark);
            transition: all 0.3s ease;
        }
        &:after {
            content: "";
            background-color: var(--secondary);
            width: 100%;
            z-index: -1;
            position: absolute;
            height: 100%;
            top: 12px;
            left: 12px;
            border-radius: 20px;
            
        }
        &:active {
            color: var(--primary);
        }
        &:hover:after {
            top: 0px;
            left: 0px;
            transition: all 0.3s ease;

        }
        @media (min-width: 768px) {
            & {
                padding: 25px 100px;
            }
        }
    }


</style>
