---
import MeteorShower from '@/components/MeteorShower.astro';
import Stars from '@/components/Stars.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="bio" content="Astro bio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<Stars />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--text-color: #ffffffaf;
		--white: #ffffffe4;
		--primary:  #0F0F0F;
		--secondary: #FFA732;
		--secondary-dark: #e08c1e;
	}
	html {
		font-family: system-ui, sans-serif;
		box-sizing:border-box;
		color: var(--text-color);
		font-size: 62.5% /*1rem = 10px*/	
	}
	*, *:before, *:after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
	}
	body {
		background: linear-gradient(rgb(15, 23, 42), var(--primary), rgb(15, 23, 42));
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	h4 {
		font-size: 1.8rem;
		font-weight: normal;
	}
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 5rem 3rem;
	}
	.flex-col {
		display: flex;
        flex-direction: column;
	}
</style>
